
h1{
    text-align: center;
}
.login_area{
    margin:auto;
    margin-top:20%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    
}
input{
    width: 40%;
    margin: auto;
    margin-top: 3%;
    border-radius: 6px;
}
.sign_up_area{
    display: flex;
    flex-direction: column;
}
.login_btn{
    width: 42%;
    margin: auto;
}
hr{
    width: 42%;
}
.sign_up_btn{
    width: 42%;
    margin: auto;
}
